<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/class.css">
    <link rel="stylesheet" href="../static/css/font.css">
    <script src="jquery-3.6.1.min.js"></script>
    <title>C Section</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
    </style>
</head>
<body>
    <div class="container">
        <div class="indiv" id="odd">
            <p>abcd</p>
            <div class="inp-box">
                <label for="present" class="lab">Present
                    <input type="radio" name="{{students[0]}}" id="present" class="inputs">
                </label>
                <label for="absent" class="lab">Absent
                    <input type="radio" name="{{students[0]}}" id="absent" class="inputs">
                </label>
            </div>
            
        </div>
        <div class="indiv" id="even">
            <p>efgh</p>
            <div class="inp-box">
                <label for="present" class="lab">Present
                    <input type="radio" name="{{students[1]}}" id="present" class="inputs">
                </label>
                <label for="absent" class="lab">Absent
                    <input type="radio" name="{{students[1]}}" id="absent" class="inputs">
                </label>
            </div>
        </div>

        <div class="indiv" id="odd">
            <p>abcd</p>
            <div class="inp-box">
                <label for="present" class="lab">Present
                    <input type="radio" name="{{students[2]}}" id="present" class="inputs">
                </label>
                <label for="absent" class="lab">Absent
                    <input type="radio" name="{{students[2]}}" id="absent" class="inputs">
                </label>
            </div>
        </div>
        <div class="indiv" id="even">
            <p>efgh</p>
            <div class="inp-box">
                <label for="present" class="lab">Present
                    <input type="radio" name="{{students[3]}}" id="present" class="inputs">
                </label>
                <label for="absent" class="lab">Absent
                    <input type="radio" name="{{students[3]}}" id="absent" class="inputs">
                </label>
            </div>
        </div>
    </div>
</body>
</html>